# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [112]:
from xml.etree import ElementTree as ET

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [2]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [4]:
# print names of all countries
for child in document_tree.getroot():
    print(child.find('name').text)

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [9]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    capitals_string = ''
    print('* ' + element.find('name').text + ':' + capitals_string)
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print(capitals_string[:-2])

* Albania:
Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece:
Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia:
Skopje, Kumanovo
* Serbia:
Beograd, Novi Sad, Niš
* Montenegro:
Podgorica
* Kosovo:
Prishtine
* Andorra:
Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [113]:
document = ET.parse( './data/mondial_database.xml' )

#### 1. 10 countries with the lowest infant mortality rates

In [127]:
#initiate empty lists to store country names and corresponding infant mortality
countries =[]
inf_mortality =[]

In [128]:
#not all aountries contain the infant_mortality element, so need a conditional
#if there is no element put in a NaN
for element in document.getiterator('country'):
    countries.append(element.find('name').text)
    try:
        inf_mortality.append(element.find('infant_mortality').text)
    except:
        inf_mortality.append('NaN')

In [134]:
import pandas as pd

In [178]:
#Make a DataFrame from two lists
df1 = pd.DataFrame({'country' : countries, 'infant_mortality' : inf_mortality})
df1

                    country  infant_mortality
0                   Albania             13.19
1                    Greece              4.78
2                 Macedonia              7.90
3                    Serbia              6.16
4                Montenegro               NaN
5                    Kosovo               NaN
6                   Andorra              3.69
7                    France              3.31
8                     Spain              3.33
9                   Austria              4.16
10           Czech Republic              2.63
11                  Germany              3.46
12                  Hungary              5.09
13                    Italy              3.31
14            Liechtenstein              4.33
15                 Slovakia              5.35
16                 Slovenia              4.04
17              Switzerland              3.73
18                  Belarus              3.64
19                   Latvia              7.91
20                Lithuania              6.00
21                   Poland              6.19
22                  Ukraine              8.10
23                   Russia              7.08
24                  Belgium              4.18
25               Luxembourg              4.28
26              Netherlands              3.66
27   Bosnia and Herzegovina              5.84
28                  Croatia              5.87
29                 Bulgaria             15.08
..                      ...               ...
214                    Chad             90.30
215       Equatorial Guinea             71.12
216                   Gabon             47.03
217              Cape Verde             24.28
218                   Sudan             52.86
219             South Sudan             68.16
220                 Comoros             65.31
221                  Guinea             55.24
222                 Liberia             69.19
223                Djibouti             50.20
224                 Eritrea             38.44
225                Ethiopia             55.77
226                 Somalia            100.14
227                   Kenya             40.71
228                  Gambia             65.74
229                 Senegal             52.72
230           Guinea-Bissau             90.92
231            Sierra Leone             73.29
232                  Uganda             60.82
233                 Lesotho             50.48
234              Madagascar             44.88
235                  Malawi             48.01
236              Mozambique             72.42
237               Mauritius             10.59
238                 Mayotte             56.29
239               Swaziland             54.82
240                 Reunion              7.50
241            Saint Helena             17.63
242   Sao Tome and Principe             49.16
243              Seychelles             10.77

[244 rows x 2 columns]

In [180]:
#Before sorting, need to convert items in infant_mortality column from string to float
df1.infant_mortality = [float(i) for i in df1.infant_mortality]

In [182]:
#Sort df1 to display lowest infant_mortality values
df1.sort('infant_mortality').head(10)

C:\Users\sashkabear\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

            country  infant_mortality
38           Monaco              1.81
98            Japan              2.13
117         Bermuda              2.48
36           Norway              2.48
106       Singapore              2.53
37           Sweden              2.60
10   Czech Republic              2.63
78        Hong Kong              2.73
79            Macao              3.13
44          Iceland              3.15