# XML example and exercise
****
+ study examples of accessing nodes in XML tree structure  
+ work on exercise to be completed and submitted
****
+ reference: https://docs.python.org/2.7/library/xml.etree.elementtree.html
+ data source: http://www.dbis.informatik.uni-goettingen.de/Mondial
****

In [1]:
from xml.etree import ElementTree as ET

## XML example

+ for details about tree traversal and iterators, see https://docs.python.org/2.7/library/xml.etree.elementtree.html

In [2]:
document_tree = ET.parse( './data/mondial_database_less.xml' )

In [4]:
# print names of all countries
for child in document_tree.getroot():
    print(child.find('name').text)

Albania
Greece
Macedonia
Serbia
Montenegro
Kosovo
Andorra

In [9]:
# print names of all countries and their cities
for element in document_tree.iterfind('country'):
    capitals_string = ''
    print('* ' + element.find('name').text + ':' + capitals_string)
    for subelement in element.getiterator('city'):
        capitals_string += subelement.find('name').text + ', '
    print(capitals_string[:-2])

* Albania:
Tirana, Shkodër, Durrës, Vlorë, Elbasan, Korçë
* Greece:
Komotini, Kavala, Athina, Peiraias, Peristeri, Acharnes, Patra, Kozani, Kerkyra, Ioannina, Thessaloniki, Iraklio, Chania, Ermoupoli, Rhodes, Tripoli, Lamia, Chalkida, Larissa, Volos, Mytilini, Karyes
* Macedonia:
Skopje, Kumanovo
* Serbia:
Beograd, Novi Sad, Niš
* Montenegro:
Podgorica
* Kosovo:
Prishtine
* Andorra:
Andorra la Vella

****
## XML exercise

Using data in 'data/mondial_database.xml', the examples above, and refering to https://docs.python.org/2.7/library/xml.etree.elementtree.html, find

1. 10 countries with the lowest infant mortality rates
2. 10 cities with the largest population
3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)
4. name and country of a) longest river, b) largest lake and c) airport at highest elevation

In [2]:
document = ET.parse( './data/mondial_database.xml' )

#### 1. 10 countries with the lowest infant mortality rates

In [3]:
#initiate empty lists to store country names and corresponding infant mortality
countries =[]
inf_mortality =[]

In [4]:
#not all aountries contain the infant_mortality element, so need a conditional
#if there is no element put in a NaN
for element in document.getiterator('country'):
    countries.append(element.find('name').text)
    try:
        inf_mortality.append(element.find('infant_mortality').text)
    except:
        inf_mortality.append('NaN')

In [5]:
import pandas as pd

In [6]:
#Make a DataFrame from two lists
df1 = pd.DataFrame({'country' : countries, 'infant_mortality' : inf_mortality})
df1

                    country infant_mortality
0                   Albania            13.19
1                    Greece             4.78
2                 Macedonia              7.9
3                    Serbia             6.16
4                Montenegro              NaN
5                    Kosovo              NaN
6                   Andorra             3.69
7                    France             3.31
8                     Spain             3.33
9                   Austria             4.16
10           Czech Republic             2.63
11                  Germany             3.46
12                  Hungary             5.09
13                    Italy             3.31
14            Liechtenstein             4.33
15                 Slovakia             5.35
16                 Slovenia             4.04
17              Switzerland             3.73
18                  Belarus             3.64
19                   Latvia             7.91
20                Lithuania                6
21                   Poland             6.19
22                  Ukraine              8.1
23                   Russia             7.08
24                  Belgium             4.18
25               Luxembourg             4.28
26              Netherlands             3.66
27   Bosnia and Herzegovina             5.84
28                  Croatia             5.87
29                 Bulgaria            15.08
..                      ...              ...
214                    Chad             90.3
215       Equatorial Guinea            71.12
216                   Gabon            47.03
217              Cape Verde            24.28
218                   Sudan            52.86
219             South Sudan            68.16
220                 Comoros            65.31
221                  Guinea            55.24
222                 Liberia            69.19
223                Djibouti             50.2
224                 Eritrea            38.44
225                Ethiopia            55.77
226                 Somalia           100.14
227                   Kenya            40.71
228                  Gambia            65.74
229                 Senegal            52.72
230           Guinea-Bissau            90.92
231            Sierra Leone            73.29
232                  Uganda            60.82
233                 Lesotho            50.48
234              Madagascar            44.88
235                  Malawi            48.01
236              Mozambique            72.42
237               Mauritius            10.59
238                 Mayotte            56.29
239               Swaziland            54.82
240                 Reunion              7.5
241            Saint Helena            17.63
242   Sao Tome and Principe            49.16
243              Seychelles            10.77

[244 rows x 2 columns]

In [7]:
#Before sorting, need to convert items in infant_mortality column from string to float
df1.infant_mortality = [float(i) for i in df1.infant_mortality]

In [8]:
#Sort df1 to display lowest infant_mortality values
df1.sort('infant_mortality').head(10)

C:\Users\sashkabear\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

            country  infant_mortality
38           Monaco              1.81
98            Japan              2.13
117         Bermuda              2.48
36           Norway              2.48
106       Singapore              2.53
37           Sweden              2.60
10   Czech Republic              2.63
78        Hong Kong              2.73
79            Macao              3.13
44          Iceland              3.15

#### 2. 10 cities with the largest population

In [9]:
#Staer emptry listes for cities, year, and population
City = []
Year =[]
Pop = []

In [10]:
#Pull out information for city names, their populations, and years of population data

#Iterate over each country
for element in document.getiterator('country'):
    #Iterate over each city in a given country
    for city in element.getiterator('city'):
        #Save name of city
        city_name = city.find('name').text
        #Iterate over each population entry in a given city
        for population in city.getiterator('population'):
            #Populate City list with text of city name attribute (saved above in city_name)
            City.append(city_name)
            #Populate Year list with the Year attribute of population
            Year.append(population.get('year'))
            #Populate Pop list with text of population
            Pop.append(population.text)

In [11]:
#Build a DataFrame from extracted data
df2 = pd.DataFrame({'city' : City, 'year' : Year, 'population' : Pop})
df2

              city population  year
0           Tirana     192000  1987
1           Tirana     244153  1990
2           Tirana     418495  2011
3          Shkodër      62000  1987
4          Shkodër      77075  2011
5           Durrës      60000  1987
6           Durrës     113249  2011
7            Vlorë      56000  1987
8            Vlorë      79513  2011
9          Elbasan      53000  1987
10         Elbasan      78703  2011
11           Korçë      52000  1987
12           Korçë      51152  2011
13          Kavala      56705  1981
14          Kavala      60187  1991
15          Kavala      63774  2001
16          Kavala      58790  2011
17          Athina     885737  1981
18          Athina     816556  1991
19          Athina     789166  2001
20          Athina     664046  2011
21        Peiraias     196389  1981
22        Peiraias     187399  1991
23        Peiraias     181933  2001
24        Peiraias     163688  2011
25       Peristeri     141971  1991
26       Peristeri     146743  2001
27       Peristeri     139981  2011
28        Acharnes      65035  1991
29        Acharnes      82555  2001
...            ...        ...   ...
9290  Nacala Porto     125208  1991
9291  Nacala Porto     158248  1997
9292  Nacala Porto     206449  2007
9293        Matola     337239  1991
9294        Matola     424662  1997
9295        Matola     671556  2007
9296       Nampula     250473  1991
9297       Nampula     303346  1997
9298       Nampula     471717  2007
9299      Lichinga      85758  1997
9300      Lichinga     142331  2007
9301         Beira     298847  1991
9302         Beira     397368  1997
9303         Beira     431583  2007
9304          Tete     112221  1991
9305          Tete     101984  1997
9306          Tete     155870  2007
9307     Quelimane     146206  1991
9308     Quelimane     150116  1997
9309     Quelimane     193343  2007
9310        Maputo     931591  1991
9311        Maputo     966837  1997
9312        Maputo    1094628  2007
9313       Mbabane      38290  1986
9314       Mbabane      57992  1997
9315   Saint-Denis     131557  1993
9316   Saint-Denis     139863  2006
9317   Saint-Denis     145347  2011
9318      São Tomé      49957  2001
9319      Victoria      24970  2002

[9320 rows x 3 columns]

In [12]:
#Convert population and year columns to integers
df2.population = [int(i) for i in df2.population]
df2.year = [int(i) for i in df2.year]

In [13]:
#Need to keep only latest population values
df2_clean = df2.drop_duplicates(subset = 'city', keep = 'last')
df2_clean

              city  population  year
2           Tirana      418495  2011
4          Shkodër       77075  2011
6           Durrës      113249  2011
8            Vlorë       79513  2011
10         Elbasan       78703  2011
12           Korçë       51152  2011
16          Kavala       58790  2011
20          Athina      664046  2011
24        Peiraias      163688  2011
27       Peristeri      139981  2011
30        Acharnes      106943  2011
34           Patra      213984  2011
37         Kerkyra      102071  2011
40        Ioannina      112486  2011
44    Thessaloniki      325182  2011
48         Iraklio      173993  2011
51          Chania      108642  2011
54          Rhodes      115490  2011
55           Lamia       75315  2011
58        Chalkida      102223  2011
62         Larissa      162591  2011
66           Volos      144449  2011
67          Karyes         233  2014
69          Skopje      514967  2011
71        Kumanovo      107745  2011
74         Beograd     1639121  2011
76        Novi Sad      335701  2011
78             Niš      257867  2011
80       Podgorica      150977  2011
83       Prishtine      198214  2011
...            ...         ...   ...
9251            Bo      149957  2004
9257       Kampala     1516210  2014
9260       Mbarara      195013  2014
9265        Mukono      161996  2014
9267        Maseru      227880  2006
9268   Antsiranana       59040  1993
9269  Antananarivo      710236  1993
9270     Antsirabe      126062  1993
9271  Fianarantsoa      109260  1993
9272       Majunga      106780  1993
9273      Tamatave      137782  1993
9274       Toliara       80826  1993
9277      Lilongwe      674448  2008
9280      Blantyre      661256  2008
9282         Pemba      138716  2007
9284       Xai-Xai      115752  2007
9286     Inhambane       65149  2007
9289       Chimoio      237497  2007
9292  Nacala Porto      206449  2007
9295        Matola      671556  2007
9298       Nampula      471717  2007
9300      Lichinga      142331  2007
9303         Beira      431583  2007
9306          Tete      155870  2007
9309     Quelimane      193343  2007
9312        Maputo     1094628  2007
9314       Mbabane       57992  1997
9317   Saint-Denis      145347  2011
9318      São Tomé       49957  2001
9319      Victoria       24970  2002

[3000 rows x 3 columns]

In [14]:
#Sort data frame by population column, in reverse order: from largest to smallest
df2_clean.sort('population', ascending = False).set_index('city').head(10)

C:\Users\sashkabear\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

           population  year
city
Shanghai     22315474  2010
Istanbul     13710512  2012
Mumbai       12442373  2011
Moskva       11979529  2013
Beijing      11716620  2010
São Paulo    11152344  2010
Tianjin      11090314  2010
Guangzhou    11071424  2010
Delhi        11034555  2011
Shenzhen     10358381  2010

#### 3. 10 ethnic groups with the largest overall populations (sum of best/latest estimates over all countries)

In [15]:
# Start empty lists for country, year and populations
Country = []
Year2 = []
Pop2 = []

In [16]:
#Pull out information for country names, their populations, and years of population data
#Do not include population values of cities and provinces

#Iterate over each country
for element in document.getiterator('country'):
    country_name = element.find('name').text
    #Iterate over each population entry in a given country
    for population in element.getiterator():
        if population.tag == 'population':
            #Populate Country list
            Country.append(country_name)
            #Populate Year list with the Year attribute of population
            Year2.append(population.get('year'))
            #Populate Pop list with text of population
            Pop2.append(population.text)
        # Stop once City of Province elements are encountered - only want country population data
        elif population.tag =='city' or population.tag == 'province':
            break

In [17]:
#Build a DataFrame from extracted data
df3 = pd.DataFrame({'country' : Country, 'year' : Year2, 'population' : Pop2})

In [18]:
#Convert population and year columns to integers
df3.population = [int(i) for i in df3.population]
df3.year = [int(i) for i in df3.year]

In [19]:
#Need to keep only latest population values
df3_clean = df3.drop_duplicates(subset = 'country', keep = 'last')
df3_clean

                     country  population  year
8                    Albania     2800138  2011
23                    Greece    10816286  2011
34                 Macedonia     2059794  2011
42                    Serbia     7120666  2011
52                Montenegro      620029  2011
55                    Kosovo     1733872  2011
63                   Andorra       78115  2011
73                    France    64933400  2011
85                     Spain    46815916  2011
96                   Austria     8499759  2013
105           Czech Republic    10562214  2011
109                  Germany    80219695  2011
116                  Hungary     9937628  2011
131                    Italy    59433744  2011
139            Liechtenstein       36636  2012
147                 Slovakia     5397036  2011
165                 Slovenia     2058821  2013
173              Switzerland     8139631  2013
181                  Belarus     9460692  2013
192                   Latvia     2201196  2013
200                Lithuania     2979310  2013
211                   Poland    38533789  2012
219                  Ukraine    45633637  2012
229                   Russia   143666931  2014
238                  Belgium    11099554  2013
248               Luxembourg      524853  2012
269              Netherlands    16843181  2014
276   Bosnia and Herzegovina     3791622  2013
284                  Croatia     4290612  2011
301                 Bulgaria     7284552  2012
...                      ...         ...   ...
1963                    Chad    11720781  2010
1971       Equatorial Guinea      696167  2010
1977                   Gabon     1556222  2010
1984              Cape Verde      491875  2010
1992                   Sudan    35652002  2010
1994             South Sudan     8260490  2008
2000                 Comoros      683081  2010
2007                  Guinea    10628972  2014
2014                 Liberia     3957990  2010
2020                Djibouti      834036  2010
2028                 Eritrea     5741159  2010
2037                Ethiopia    84320987  2012
2045                 Somalia     9636173  2010
2054                   Kenya    40909194  2010
2063                  Gambia     1882450  2013
2072                 Senegal    13508715  2013
2078           Guinea-Bissau     1586624  2010
2085            Sierra Leone     5751976  2010
2094                  Uganda    34856813  2014
2102                 Lesotho     2008921  2010
2109              Madagascar    21842167  2013
2117                  Malawi    15013694  2010
2123              Mozambique    23700715  2012
2140               Mauritius     1237091  2011
2141                 Mayotte      212645  2011
2149               Swaziland     1193148  2010
2152                 Reunion      828581  2011
2154            Saint Helena        5663  2014
2162   Sao Tome and Principe      187356  2012
2171              Seychelles       90945  2010

[244 rows x 3 columns]

In [20]:
# Now pull out data on country name, ethnic group and percentage
Country2 = []
Ethnicity = []
Percent =[]

In [21]:
#Iterate over each country
for element in document.getiterator('country'):
    country_name = element.find('name').text
    #Iterate over each ethnicgroup entry in a given country
    for eth in element.getiterator('ethnicgroup'):
        #Populate Country list
        Country2.append(country_name)
        #Populate Percent list with percentage attribute of ethnicgroup
        Percent.append(eth.get('percentage'))
        #Populate Ethnicity list with text of ethnicgroup
        Ethnicity.append(eth.text)

In [22]:
#Build a DataFrame from extracted data
df3_b = pd.DataFrame({'country' : Country2, 'ethnicity' : Ethnicity, 'percent' : Percent})

In [23]:
#Convert percent columns to float
df3_b.percent = [float(i) for i in df3_b.percent]

In [24]:
#Merge two data frames to fill out total country population next to ethnic percentage value
comb = df3_b.merge(df3_clean, how = 'inner')
comb.head(20)

       country    ethnicity  percent  population  year
0      Albania     Albanian     95.0     2800138  2011
1      Albania        Greek      3.0     2800138  2011
2       Greece        Greek     93.0    10816286  2011
3    Macedonia   Macedonian     64.2     2059794  2011
4    Macedonia     Albanian     25.2     2059794  2011
5    Macedonia      Turkish      3.9     2059794  2011
6    Macedonia        Gypsy      2.7     2059794  2011
7    Macedonia         Serb      1.8     2059794  2011
8       Serbia         Serb     82.9     7120666  2011
9       Serbia  Montenegrin      0.9     7120666  2011
10      Serbia    Hungarian      3.9     7120666  2011
11      Serbia         Roma      1.4     7120666  2011
12      Serbia      Bosniak      1.8     7120666  2011
13      Serbia        Croat      1.1     7120666  2011
14  Montenegro  Montenegrin     43.0      620029  2011
15  Montenegro         Serb     32.0      620029  2011
16  Montenegro      Bosniak      8.0      620029  2011
17  Montenegro     Albanian      5.0      620029  2011
18      Kosovo     Albanian     92.0     1733872  2011
19      Kosovo      Serbian      5.0     1733872  2011

In [25]:
#create a column for population of a given ethnicity based on percentage and total country population
comb['eth_pop'] = comb.percent/100*comb.population

In [87]:
#drop unnecessary columns, goup by ethnicity, add the population totals, and sort
comb.drop(comb.columns[[0, 2, 3, 4]], axis=1).groupby('ethnicity').sum().sort('eth_pop', ascending = False).head(10)

C:\Users\sashkabear\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

                  eth_pop
ethnicity
Han Chinese  1.245059e+09
Indo-Aryan   8.718156e+08
European     4.948722e+08
African      3.183251e+08
Dravidian    3.027137e+08
Mestizo      1.577344e+08
Bengali      1.467769e+08
Russian      1.318570e+08
Japanese     1.265342e+08
Malay        1.219936e+08